{% extends 'quizz/base.html' %}


{% block content %}
<h2><i class="bi bi-person-circle"></i> {{ user.username }}</h2>

{% include 'quizz/object_content/info.html'%}
<br />
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="action" value="logout"><i class="bi bi-box-arrow-left"></i> Me déconnecter</button>
    <br /><br />
    <button type="submit" class="btn btn-danger" name="action" value="delete" onclick="return confirmDelete()"><i class="bi bi-trash3-fill"></i> Supprimer mon compte</button>
</form>
{% endblock %}