<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <link rel="stylesheet" href="{% static 'quizz/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'quizz/script.js' %}"></script>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>LimeHugFun</title>
    <style>
        /* Style pour le popup de succès (vert) */
        .popup.success {
            background-color: green;
            color: white;
        }

        /* Style pour le popup d'erreur (rouge) */
        .popup.error {
            background-color: red;
            color: white;
        }

        /* Autres styles pour le popup*/
        .popup {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            /*display: none;*/
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
            $(document).ready(function() {
            // Afficher le popup pendant 3 secondes
            $('#popup').fadeIn(1000).delay(3000).fadeOut(1000);
        });
    </script>
</head>

<body>
    <header class="bg-dark text-light py-4">
        <div class="container">
            <h1 class="mb-0">Ravision</h1>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'subjects' %}">
                        <i class="bi bi-bookshelf"></i> Mes matières
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'import_excel' %}">
                        <i class="bi bi-file-earmark-arrow-up"></i> Importer
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quizzes' %}">
                        <i class="bi bi-play-circle"></i> Parties en cours
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="bi bi-box-arrow-in-right"></i> Connexion
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">
                        <i class="bi bi-person-plus"></i> Créer un compte
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalogue' %}">
                        <i class="bi bi-list"></i> Catalogue
                    </a>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">
                        <i class="bi bi-person-circle"></i> Mon compte
                    </a>
                </li>
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    



    <main class="container mt-4">
        {% if messages %}
        {% for message in messages %}
        <div id="popup" class="popup {% if message.tags == 'success' %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>