{% extends 'quizz/base.html' %}
{% load i18n %}
{% block content %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("answer").focus();
        // Vérifie si quizz.timeout est vrai
    });
    document.addEventListener("DOMContentLoaded", function() {
        function checkTimeout() {
        var checkTimeoutUrl = "{% url 'check_quizz_timeout' quizz.id %}";
        fetch(checkTimeoutUrl)
            .then(response => response.json())
            .then(data => {
                if (data.timeout) {
                    var submitButton = document.getElementById('submit-button');
                    submitButton.classList.remove('btn-primary');
                    submitButton.classList.add('btn-danger');  // Change la couleur du bouton
                    submitButton.textContent = "{% trans 'Time is up! Next question' %}";  // Change le texte du bouton
                    //submitButton.disabled = true;  // Désactive le bouton
                } else {
                    setTimeout(checkTimeout, 1000); // Continue de vérifier toutes les secondes
                }
            })
            .catch(error => console.error('Erreur lors de la vérification du timeout:', error));
    }

    checkTimeout();  // Démarre la vérification du timeout
    });
</script>

<h2>{% trans "Quizz" %} : {{ quizz.name }}</h2>
<p>{{ count }} {% trans "remaining questions" %}</p>

<form method="post" id="quizz-form">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{ question.id }}">
    <input type="hidden" name="timeout" value="false" id="timeout"> <!-- Champ caché pour indiquer l'expiration du temps -->
    <strong>{{ question.lecture.subject.name }}<br/>
    {{ question.lecture.name }}</strong><br/><br/>
    {{ question.question }}<br />
    {% if quizz.hints %} Hint : {{ hint }}<br /> {% endif %}
    <input type="text" id="answer" name="answer" size="60"><br /><br />
    <button type="submit" class="btn btn-primary" name="action" id="submit-button" value="attempt">{% trans "Submit answer" %}</button>
</form>

{% if task_id %}
<br />
<div class='progress-wrapper'>
        <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message" hidden></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
    CeleryProgressBar.initProgressBar(progressUrl);
    });
</script>
{% endif %}


{% endblock %}